body{
	margin: 0;
	padding: 0;
	font-family: 'Khula', sans-serif;
}
/***header***/
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    bottom: 5px;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.6);
    max-height: 61px;
}
.logo,
.navButton{
	display: none;
}
.navButton{
	border:none;
	background-color: transparent;
	font-size: 2rem;
	font-weight: bold;
	margin-left: 10rem;
}
.navButton:hover,
.navButton:focus{
	cursor: pointer;
	outline: none;
}
.nav{
	display: flex;
    padding: 0;
    position: relative;
}
.nav li:nth-child(3) {
	position: relative;
    top: -15px;
}
.nav li:nth-child(3) img,
.logo{
	width: 65.79px;
    height: 80.48px;
}
.nav li{
	list-style: none;
    padding: 0 2rem;
}

.navLink{
	color:black;
	text-decoration: none;
	font-size: 1.1rem;
}

.mediaIcon{
	vertical-align: middle;
	width: 28px;
}
.githubIcon{
	width: 34px;
}

/***container***/

.mainContainer{
	display: flex;
	flex-direction: column;
	text-align: center;
	background: url("img/s.png") repeat-x fixed, url("img/sky.png") no-repeat  fixed;
	animation-name: stars;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
	box-shadow: inset 0 0 0 1000px rgba(55,55,55,0.3);
	background-size: 300px,100% 200px;
	background-color: #e6e6e6;
	padding: 3rem 0;

}
@keyframes stars {
    from {background-position: top left , top;}
    to {background-position: top right, top;}
}

.mainContainer .name img{
	width: 650px;
	max-width: 95%;
}
.mainContainer h2{
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(30,30,30);
}
.linkNav{
    border-top: 1px solid gray;
    width: 55%;
    margin: 0 auto;
    max-width: 305px;
    text-align: center;
}
.medialink{
	font-size: 38px; 
	margin: 0 .3rem;
}

/*******************************/
.wrapMain{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}
.projectMain{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-left: 20px solid rgba(245,222,179,.7);
	border-bottom:10px solid rgba(245,222,179,.7);
    margin:0;
    padding: 3rem;
}
.projectMain:last-child {
    border-bottom: 0;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
}
.projectMain:nth-child(2){
	border-right: 20px solid rgba(245,222,179,.7);
	border-left: 0;
}
.computer{
	max-width: 400px;
	width: 100%;
}
.discription{
	max-width: 100%;
    width: 425px;
}
.discription span{
	font-size: 1.5rem;
    font-weight: bold;
}
.discription p{
	font-size: 1.1rem;
}

.warp{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.project{
    position: relative;
    box-sizing: border-box;
    max-height: 284px;
    max-width: 280px;
    overflow: hidden;
    margin-right: .2rem;
}
.mainP img{
	width: 100%;
    height: 280px;
}
.hoverP{
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: wheat;
    display: none;
    height: 280px;

}
.hoverP span{
	margin-top: 20%;
    font-weight: bold;
    font-size: 1.5rem;	
}
.hoverP p{
	max-width: 80%;
    margin: 0 auto;
}
.hoverP button{
	padding: 6px 10px;
    margin: 0 auto;
    border-radius: 2px;
    background: none;
    border: 1px solid gray;
}
.hoverP button a{
	text-decoration: none;
}
.hoverP button a:active,
.hoverP button a:visited{
	color:black;
}
.project:hover .hoverP{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#projects{
	margin-bottom: 2rem;
}
#projects h2,
#contact h2{
    padding: 1rem 0;
    border-bottom: 1px solid #e6e6e6;
    margin: 0;
    text-align: center;
}
#about{
    position: relative;
    margin: 0 auto;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
#about img{
	width: 50%;
	max-width: 100%;
}
#about p{
    padding-right: 1.5rem;
    font-size: 1.3rem;
    width: 45%;
    max-width: 100%;
}
.aboutDesignL,
.aboutDesignR{
	position: absolute;
	background-color: rgba(245,222,179,.7);
	width: 700px;
	max-width: 50%;
	height: 80px;
	padding:0 1rem;
	animation-name: divsMove;
    animation-duration: 4s;
    animation-timing-function:ease-in-out;		
}

@keyframes divsMove {
    from {width: 0px;}
    to {width: 700px;}
}
.aboutDesignL{
	left: 0;
	bottom: 1rem;
}
.aboutDesignR{
	right: 0;
	top: 1rem;
}

/***contact***/
.contactContainer{
	width: 90%;
	margin:0 auto;
	margin-bottom: 5rem;
}
.contactContainer h3,
.contactContainer h4.job{
	text-align: center;
}
.contactContainer h3{
    margin: 2rem 0 0 0;
    font-size: 1.3rem;
}
.contactContainer h4.job{
	    margin-top: 0;
}
.contWrap{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.contactContainer ul{
	padding:0;
	margin:0 2rem 1.5rem;
}
.contactContainer ul li{
	list-style: none;
}
.contactContainer ul li h4{
	margin:0;
	margin-top: 1rem;
}
.linkNavContact .medialink img{
	width: 25px;
}
.linkNavContact .medialink img.githubIcon {
	width: 30px;
}
